* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #396DA6; /*windows xp blue*/
	color: #fff;
	font-family: "Lucida Console", Monaco, monospace;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	height: 100%;
}

button {
	background: none;
	border: none;
}

#wrapper {
	min-width: 1000px;
	max-width: 1480px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.inactiveLink {
   pointer-events: none;
   cursor: pointer;
}

#mydiv {
	position: absolute;
	z-index: 9;
	background-color: #f1f1f1;
	text-align: center;
	border: 1px solid #d3d3d3;
}

#mydivheader {
	padding: 10px;
	cursor: move;
	z-index: 10;
	background-color: #2196F3;
	color: #fff;
}

.cmdline {
	position: absolute;
	left: 25px;
	top: 0;
	height: 400px;
	width: 400px;
	z-index: 9;
	background-color: #000;
	margin: 0px;
	border-style: solid;
	border-width: 2px;
	border-color: #d4d0c8; /*windows xp border color*/
	overflow: hidden;
}

.cmdlinetitlebar {
	cursor: move;
	z-index: 10;
	height: 25px;
	padding-left: 10px;
	background-color: #0a246a;
	background: -webkit-linear-gradient(left, #0a246a , #a6caf0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #0a246a, #a6caf0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #0a246a, #a6caf0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #0a246a , #a6caf0); /* Standard syntax */
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #d4d0c8; /*windows xp border color*/
	line-height: 25px;
}

.cmdlinetitlebar .titletext {
	height: 25px;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}

.cmdlinetitlebar ul {
	margin: 0;
	padding: 0;
	padding-right: 5px;
	float: right;
	cursor: default;
}

.cmdlinetitlebar ul li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	font-size: 0.9em;
	background-color: #d4d0c8;
}

.cmdlinetitlebar ul li button {
	margin: 0;
	line-height: 18px;
	text-align: center;
	display: block;
	text-decoration: none;
	color: #000;
	border-style: outset;
	border-width: 2px;
}

.cmdlinetextdiv {
	position: absolute;
    top: 25px;
    bottom: 12px;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.cmdlineBottom {
	height: 12px;
	width: 100%;
	position: absolute;
	background-color: #d4d0c8; /*windows xp border color*/
	bottom: 0;
	right: 0;
	left: 0;
}

.cmdline .resizer {
	width: 10px;
	height: 10px;
	background: #555555;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: move;
	z-index: 10;
}

#programsContainer {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-bottom: 30px;
	right: 0;
	left: 0;
	width: 100%;
}

#desktopicons {
	float: right;
}

#desktopicons ul li {
	list-style: none;
	padding: 10px 10px;
}

#desktopicons ul li button {
	text-decoration: none;
	color: #fff;
	text-align: center;
	display: block;
}

#desktopicons ul li button img {
	margin: auto;
    width: 50%;
	height: 50px;
	width: 50px;
}

#taskbar {
	height: 30px;
	background-color: #d4d0c8; /*windows xp border color*/
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

#taskbar #startdiv {
	line-height: 20px;
	width: 70px;
	float: left;
	display: inline-block;
}

#taskbar #startdiv #startmenubutton {
	text-decoration: none;
	font-size: 20px;
	color: #000;
	float: left;
	display: inline-block;
	line-height: 24px;
	width: 70px;
	border-style: outset;
	border-color: #fff;
	border-width: 2px;
	padding: 0 5px;
	margin-top: 2px;
}

#startmenu {
	background-color: #d4d0c8; /*windows xp border color*/
	box-shadow: 2px 2px 10px #333;
	display: none;
	margin-bottom: 30px;
	position: fixed;
	bottom: 0;
	left: 0;
}

#taskbar #programs {
	line-height: 24px;
	float: left;
	display: inline-block;
}

#taskbar #programs button {
	line-height: 24px;
	padding: 0 5px;
	margin-top: 2px;
	text-decoration: none;
	color: #000;
	float: left;
	display: inline-block;
	border-style: inset;
	border-color: #fff;
	border-width: 2px;
}

#timediv {
	position: fixed;
	right: 0;
	bottom: 0;
	margin-right: 2px;
	width: 150px;
	height: 23px;
	border-style: inset;
	/*border-color: #d4d0c8; /*windows xp border color*/
}

#time {
	color: #000;
	padding-top: 5px;
	padding-right: 8px;
	text-align: right;
}

/*https://codepen.io/ArtemGordinsky/pen/GnLBq*/
.blinking-cursor {
	margin:-5px;
	font-weight: 100;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}